

:root{
    /* --file-line-width : 1200px !important; */
    --Table-Row-Color-Even:rgb(58, 58, 58);
    --Table-Row-Color-Odd:rgb(35, 35, 35);
    --Table-Row-Color-Thread:rgb(34, 15, 77);
    --Border-Color : #cecece;
}

* {
    unicode-bidi: plaintext;
}


ul {
    margin-block-start: 0em;
    margin-block-end: 0em;
}

table.calendar, tbody.calendar
{
    table-layout: fixed;
}


.markdown-preview-view img:not([width]), .markdown-rendered img:not([width])
{
    width:100%;
}

.markdown-source-view:not(.is-live-preview) .HyperMD-header-1 
,.markdown-source-view:not(.is-live-preview) .HyperMD-header-2 
,.markdown-source-view:not(.is-live-preview) .HyperMD-header-3 
,.markdown-source-view:not(.is-live-preview) .HyperMD-header-4 
,.markdown-source-view:not(.is-live-preview) .HyperMD-header-5 
,.markdown-source-view:not(.is-live-preview) .HyperMD-header-6 
{
    text-indent : 0;
    display: flex;    
    flex-wrap: wrap;
}


h1, .markdown-rendered h1,
h2, .markdown-rendered h2,
h3, .markdown-rendered h3,
h4, .markdown-rendered h4,
h5, .markdown-rendered h5,
h6, .markdown-rendered h6
{
    display: flex;
    
    justify-items: center;
    justify-self: center;
}

span.internal-embed.media-embed.image-embed.is-loaded
{
    display: flex !important;
    justify-items: center;
    justify-self: center;
    margin-right: 0.5rem ;
}


/* .search-result-file-matched-text
{
    background-color: #546874;
    min-height: 100;
    height: 115% !important;
    padding: 0 5px;
} */

/* .mermaid-toolbar-elements-container path 
,.mermaid path
{
    stroke:  silver !important;
} */

/* .cm-s-obsidian span.cm-formatting-highlight
,.cm-s-obsidian span.cm-highlight
,.markdown-rendered mark
, mark
{
    background-color : #096280 !important;
    
} */

/* .mermaid-toolbar-elements-container rect
,.mermaid rect
{
    fill: rgb(65, 80, 107) !important;
} */


/* .markdown-preview-sizer.markdown-preview-section
{
    max-width: 1200px !important;
    margin: auto;
} */

/* .cm-formatting-link.cm-formatting-link-start
,.cm-formatting-link.cm-formatting-link-end
,.cm-s-obsidian .cm-hmd-internal-link
,.internal-link
{
    color : #03afe8 !important;
} */

.markdown-preview-view a
{
    line-height: normal !important;
}

.is-hidden-frameless:not(.is-fullscreen) .titlebar-button-container.mod-right
,.is-hidden-frameless:not(.is-fullscreen) .workspace-tabs.mod-top-right-space .workspace-tab-header-container:after
{
    display: none;
}

.workspace-tab-header-container
{
    padding: 0px !important;
    /* overflow-x: auto; */
}

.workspace-tab-header-container-inner
{
    overflow: auto;
}


.obsidian-banner-wrapper
{
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    /* height: 100%; */
}
.obsidian-banner {
    position: relative;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    /* right: 0; */
    /* height: var(--banner-height); */
    width: 100%;
    overflow: hidden;
    user-select: none;
}

.markdown-preview-view.is-readable-line-width .markdown-preview-sizer
/* ,.markdown-preview-view */
{
    padding:  1% 2.5%  !important;
}
.markdown-source-view.is-readable-line-width .CodeMirror {
    max-width: 100%;
    min-width: fit-content !important;
}

.markdown-preview-view.is-readable-line-width .markdown-preview-sizer 
{
    max-width: 1000px;
}
/* ,.table-view-thead:has(.table-view-thead,.table-view-table,table,tbody) */

.dataview .table-view-table tbody
,.dataview .table-view-table table
,.dataview .table-view-table
,.dataview .table-view-thead tbody
,.dataview .table-view-thead table
/* ,.dataview .table-view-thead */
/* ,.dataview .table-view-table */
,.markdown-preview-view .dataview 
{
    border: none !important;
}
.markdown-preview-view .dataview .table-view-tbody
{
    padding :  5% 2%;
    border: none !important;
}

.markdown-preview-view tbody tr td
,.markdown-rendered td
,.markdown-rendered th
,.markdown-preview-view thead tr th
,.markdown-rendered td
,.markdown-rendered th
{
    /* padding : 0px; */
    border:none;
    word-wrap: break-word;
    text-align: center !important;
}




.markdown-preview-view tbody tr:nth-child(even)
{
    background-color : var(--Table-Row-Color-Even) ;
    transition: 0.3s all;

}

.markdown-preview-view tbody tr:nth-child(odd)
{
    background-color: var(--Table-Row-Color-Odd) ;
    transition: 0.3s all;
}

.markdown-preview-view tbody tr:hover{
    background-color: #505050 !important;
}

.markdown-preview-view thead tr {

    background-color: var(--Table-Row-Color-Thread) !important;
}

.markdown-rendered td, .markdown-rendered th {
    width: 2px;
    
}

table
{
    text-align: center;
    place-items: center;
    border-radius: 10px !important;
    border-collapse:separate;
    overflow: auto;
    min-width: 100%;
}


.markdown-preview-view table {
    table-layout:  auto !important;
    border-radius: 10px !important;
    border-color: var(--Border-Color);
    border-style: solid;
    border-width: 2px; 
    border-collapse:separate;
    overflow: auto;
    min-width: 100%;
}

.markdown-preview-view table td,
.markdown-preview-view table th
{
    word-wrap: break-word !important;
    /* word-break: break-all; */
    min-width:30px;
    max-width: 200px ;
    width: auto !important;
    padding: 6px 2px !important;
}

.MJX-TEX
{
    text-align: left;
    line-height: 0;
    text-indent: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 100%;
    font-size-adjust: none;
    letter-spacing: normal;
    word-wrap: break-word !important;
    word-spacing:pre !important;
    /* overflow: auto !important; */
    white-space:break-spaces !important;
    place-content: center !important;
}


.markdown-preview-view thead tr th,
.markdown-preview-view tbody tr td
,.markdown-rendered td
,.markdown-rendered th
,.markdown-preview-view tbody tr td:first-child
{
    border-radius: 0px !important;
}



.markdown-rendered tbody tr:last-of-type > td:last-of-type {
    border-radius: 0px 0px 8px 0px !important; 
}

.markdown-rendered tbody tr:last-of-type > td:first-of-type {
    border-radius: 0px 0px 0px 8px !important; 
}

.markdown-rendered thead tr > th:first-of-type {
    border-radius: 8px 0px 0px 0px !important; 
}


.markdown-rendered thead tr > th:last-of-type {
    border-radius: 0px 8px 0px 0px !important; 
}

.modal-title
{
    word-wrap: pre-wrap;
    word-break: break-word;
    white-space: break-spaces;

}



.workspace-tab-header-container
{
    padding : 0px;
    margin : 0px;
    
}



.obsidian-banner-wrapper
{
    position: static;
    /* top: auto; */
    
    padding-bottom: calc(var(--banner-height) + 20px);
    
}

.obsidian-banner.cm5-banner.solid.loaded
{
    position: absolute;
    top: auto;
    /* height: calc(var(--banner-height) ); */
}

.obsidian-banner.cm5-banner.solid.loaded+.frontmatter.language-yaml + .frontmatter-container
{
    top:auto;
    bottom: calc((var(--banner-height) * -1))
    /* bottom: calc((var(--banner-height) * 0)) */
}
.obsidian-banner .banner-image.draggable
,.obsidian-banner .banner-image.draggable
{
    
    padding: 0 !important;
    margin : 0 !important
}




.dvTableCards .table-view-tbody
{
   
    display: flex;
    flex-flow: wrap;
    /* flex-basis: 300px; */
    justify-content: space-evenly;


    gap: 1rem;
    line-gap-override: 1.5rem;

    /* flex-grow: 2; */
    /* background-color: #9b9b9b; */

    padding: 0!important;
    margin: 0!important;
    /* display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    grid-auto-columns: 1fr; */
}

.dvTableCards .table-view-tbody> tr
{
    border: #b0b0b0 2px solid ;
    border-radius: 10px;
    display: grid;
    width: auto;
    height: 100%;
    justify-items: center;
    background-color: transparent !important;
    grid-auto-columns: 1fr;
}

.dvTableCards .table-view-tbody > tr > td
{
    display: grid;
    width:  100% !important;
    min-height: 30px;
    align-content: center;
    min-width: 50px !important;
    padding: 2px 4px !important;
}


.dvTableCards .table-view-tbody > tr
{
    display: grid;
    
    grid-auto-columns: 1fr;
    
}

.dvTableCards .table-view-tbody > tr > td  > span > .Column
{


    display: grid;
    grid-template-columns: 30px 1fr;
    
    
    justify-items: start;
    justify-content: start;
    text-align: start;

    align-content: center;
    /* grid-template-areas: "image text"; */
    

    font-size: small;
    height: fit-content;
    padding: 0;
    
}


.dvTableCards .table-view-tbody > tr>td > span > .Column::before
{
    content: attr(Icon);
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}

.dvTableCards.progressCards .table-view-tbody > tr
{
    grid-template-areas: 
    "Link Link"
    "Title Title"
    "Category Status"
    "Progress Progress";
}

.dvTableCards.progressCards .table-view-tbody > tr>td:nth-of-type(1)
{
    grid-area: Link;
}
.dvTableCards.progressCards .table-view-tbody > tr>td:nth-of-type(2)
{
    grid-area: Title;
}
.dvTableCards.progressCards .table-view-tbody > tr>td:nth-of-type(3)
{
    grid-area: Category;
}
.dvTableCards.progressCards .table-view-tbody > tr>td:nth-of-type(4)
{
    grid-area: Status;
}
.dvTableCards.progressCards .table-view-tbody > tr>td:nth-of-type(5)
{
    grid-area: Progress;
}


.dvTableCards.diaryCards .table-view-tbody > tr
{
    grid-template-areas: 
    "Link Link Link"
    "Title Title Title"
    "Weight Gym Fails"
    "Mood Mood Mosque "
    "Size Size Size";
}


.dvTableCards.diaryCards .table-view-tbody > tr>td:nth-of-type(1)
{
    grid-area: Link;
}
.dvTableCards.diaryCards .table-view-tbody > tr>td:nth-of-type(2)
{
    grid-area: Title;
}
.dvTableCards.diaryCards .table-view-tbody > tr>td:nth-of-type(3)
{
    grid-area: Weight;
}
.dvTableCards.diaryCards .table-view-tbody > tr>td:nth-of-type(4)
{
    grid-area: Gym;
}
.dvTableCards.diaryCards .table-view-tbody > tr>td:nth-of-type(5)
{
    grid-area: Mosque;
    
}
.dvTableCards.diaryCards .table-view-tbody > tr>td:nth-of-type(6)
{
    grid-area: Mood;
}
.dvTableCards.diaryCards .table-view-tbody > tr>td:nth-of-type(7)
{
    grid-area: Fails;
}
.dvTableCards.diaryCards .table-view-tbody > tr>td:nth-of-type(8)
{
    grid-area: Size ;
    place-content: center;
}


.dvTableCards .table-view-tbody tr td span div img
{
    /* grid-area: image; */
}

/* .table-view-tbody tr td span div
{

} */

.dvTableCards .table-view-tbody td:not(:last-of-type) span
{
    /* border-bottom: 1px dotted  #9b9b9b; */
}


 
.dvTableCards .table-view-thead
{
    display: none;
}

.dvTableCards .table-view-table > thead > tr,.dvTableCards .table-view-table > tbody > tr 
{
    
    margin: 0px;
}

.dvTableCards .progresstracking::before
{
    content: attr(value);
}



.progresstracking
{
    text-align: center;
    width: 100%;
}





.dvTableCards .table-view-tbody td span:has(progress)
{
    display: flex;
    position: relative;
    max-height: 20px!important;
    place-items: center;
    place-content: center;

}

.dvTableCards .table-view-tbody td span > progress{
    background-color: rgb(106, 22, 175);
    

    position: absolute;

    place-self: center;
    border-radius: 8px;
    width: 95%;
    border-style: solid;
    height: 10px;
    overflow: visible;
    border-color: #9b9b9b;

} 

.dvTableCards .table-view-tbody td span > progress::after
{
    content: attr(percent);
    position: relative;
    font-size: small;
    border-style: solid;
    border-width: 1px;
    border-color: #dbdbdb;
    border-radius: 6px;
    background-color: rgb(86, 74, 98);
    padding: 2px 6px;
    top: -18px;
    

}